/* variables */
:root {
  --ff-primary: "Scope One", serif;
  --ff-secondary: "Montserrat", sans-serif;

  --clr-light: #f3f3f3;
  --clr-dark: #276678;
  --clr-accent: #1687a7;

  --fs-title: 5rem;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 00.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  :root {
    --fs-title: 3rem;
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1rem;
    --fs-body: 1rem;
  }
}

/* general */
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--clr-light);
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
p {
  font-size: var(--fs-body);
}

.section {
  padding-top: 70px;
  min-height: 100%;
}



/* general end */

/* buttons */
.btn {
  border: 1px solid black;
  background-color: white;
  margin: 20px 10px;
  color: black;
  font-size: 16px;
  transition: color 0.6s ease-in-out, border-color 0.6s ease-in-out;
  cursor: pointer;
}

.default {
  border-color: black;
  color: black;
}

.default:hover {
  border-color: var(--clr-accent);
  color: var(--clr-accent);
}
/* buttons end */

/* nav bar */
/* .navbar-custom {
  background-color: #070f18;
} */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.header-area .main-menu .navbar .navbar-text {
  white-space: nowrap;
  font-size: var(--fs-h3);
}

.header-area .main-menu .nav-item .nav-link {
}

.header-area .main-menu .nav-item .nav-link a:hover {
  color: var(--clr-accent);
}
.header-area .main-menu .nav-item.active a {
  color: var(--clr-accent);
}
/* nav bar end */

/* home page area */
.home-page .name-text {
  color: var(--clr-accent);
  font-size: var(--fs-title);
  font-family: var(--ff-primary);
}

.home-page .about-text {
  color: black;
}
/* home page end */

/* portfolio */
.portfolio-page {
  background-color: rgb(48, 48, 122);
}

.portfolio-page .container {
  background-color: rgb(105, 105, 138);
}

.portfolio-page .portfolio .app-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.portfolio-page .portfolio .app-screenshot {
  max-width: 80%;
}

/* portfolio end */

/* about */

.about-page {
  background-color: rgb(20, 83, 28);
}

.about-page .container {
  background-color: rgb(112, 189, 135);
}
/* about end */

/* contact */

.contact-page {
  background-color: rgba(255, 0, 0, 0.247);
}

.contact-page .container {
  background-color: rgb(247, 232, 232);
}
/* contact end */

/* ============== app detail page ============== */
.app-detail .gif {
  width: 250px;
  height: auto;
  float: right;
}

.app-detail .app-title {
  background-color: coral;
}

.app-detail .app-screenshot {
  background-color: cornflowerblue;
}

@media (max-width: 768px) {
  .app-detail .gif {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ============== app detail page ============== */
